$primary_colour:#7B1FA2;



ion-title {
    text-align: center;
}

.prev_btn {
    z-index: 100;
    position: absolute;
}

.prev {
    height:2.8em;
    position: absolute;
    background-color: $primary_colour;
    color: white;
    padding-right: .5em;
    padding-left: .5em;
    z-index: 100;
    padding-top: 0.8em;
}

.result-container{
    width:80%;
    margin: 0 auto;
    padding-top:1em;
    padding-bottom:1em;
}

.img-content{
    width:100%;
    height:auto;
    margin-bottom: 0px;
}

.btn-content {
    width:100%;
    margin-top: 0px;
    
}

.result-btn {
    width: 100%;
    padding:1em;
    background-color: $primary_colour;
    color:white;
    margin-top: 0px;
}

.daily_charge {

}

.price {

}