

<ion-header>
  <ion-toolbar>
    <ion-title>
      SEARCH RESULTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="prev_btn">
  <a href="/tabs/(home:home)" class="prev">Back</a>
</div>

<ion-content>
  <ng-container *ngFor="let product of results">
    <a href="/product/1" class="result">
      <div class="result-container">
          <div class="img-content">
              <img
              [src]="product.prod_pic"
              alt="{{ product.name }}"
              class="img-responsive"
              >
          </div>
          <div class="btn-content">
              <button class="result-btn">
                  {{ product.name }} - €{{ product.daily_charge }}
              </button>
          </div>
      </div>    
    </a>
  </ng-container>
</ion-content>


