<div class="container">
    <a href="#" class="message" *ngFor="let message of messages">
        <div class="msg-row">
          <div class="pic-container">
            <div class="profile-pic">
              
            </div>
          </div>
          <div class="msg-details">
            <h3 class="username">
              {{ message.username }}
            </h3>
            <p class="content">
              {{ message.msg }}
            </p>
          </div>
        </div>
        <hr/>
    </a>
</div>
