.msg-row {
    margin-top:.5em;
}

.pic-container {
    width: 30%;
    display: inline-block;
    padding-right: 10%;
}

.msg-details {
    width: 60%;
    display: inline-block;
}

.profile-pic {
    background-image: url("../../contact/profile.png");
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
}

.username {
    color: #4A148C;
}

.content {
    color: #616161
}