<ion-header>
  <ion-toolbar>
    <ion-title>
      PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile-container">
    <div class="header-content">
      <div class="profile-header">
          <div class="profile"></div>
      </div>
      <h3 class="username">
        {{ username }}
      </h3>
    </div>
    <div class="body-content">
      <div class="account">
        <div class="change-user">
          <input type="text" id="username" class="edit-form" value="{{ username }}" (input)="onUsernameChange($event)" [disabled]="username_form">
          <button id="edit-username" class="edit" (click)="changeUBoolean(username_form)"><ion-icon name="md-create"></ion-icon></button>
          <button id="confirm-username" class="confirm" (click)="changeUsername()" [disabled]="username_form"><ion-icon name="md-checkmark"></ion-icon></button>
        </div>
        <div class="change-email">
          <input type="email" id="email" class="edit-form" value="{{ email }}" (input)="onEmailChange($event)" [disabled]="email_form">
          <button id="edit-email" class="edit" (click)="changeEBoolean(email_form)"><ion-icon name="md-create"></ion-icon></button>
          <button id="confirm-email" class="confirm" (click)="changeEmail()" [disabled]="email_form"><ion-icon name="md-checkmark"></ion-icon></button>
        </div>
        <div class="change-password">
          <a href="#" class="change-password-btn">
            Change Password
          </a>
        </div>
      </div>
      <div class="logout">
        <a href="#" class="logout-btn">
          LOGOUT
        </a>
      </div>
    </div>
      
  </div>
  
  
  
</ion-content>