ion-title {
    color: black;
    text-align: center;
}

.profile{
    background-image: url("./profile.png");
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
}

.profile-container {
    width: 100%;
}

.header-content {
    width: 100%;
    background-color: #ECEFF1;
    padding-top: 1em;
    padding-bottom: 1em;
}

.profile-header {
    width: 50%;
    margin: 0 auto;
}

.username {
    color: #4A148C;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.body-content {
    width: 80%;
    margin: 0 auto;
}

.logout {
    margin-top: 1em;
    margin-bottom: 1em;
}

.logout-btn {
    width:100%;
    background-color: #FF1744;
    color: white;
    padding: 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

.change-password {
    margin-top: 1em;
    margin-bottom: 1em;
}

.change-password-btn {
    width:100%;
    background-color: #00E676;
    color: white;
    padding: 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

.edit-form{
    padding-top: 1em;
    padding-bottom: 1em;
    width: 78%;
    margin-top: 1em;
}

.edit-form:focus {
    outline: none;
}

.edit, .confirm {
    display: inline-block;
    width:10%;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
}

.edit {
    background-color: #0091EA;
}

.confirm {
    background-color: #00E676;
}

.change-email, .change-user {
    width: 100%;
}