
$icon_hl: #EA80FC;

ion-tab-bar {
    background-color: #212121;
}

ion-tab-button.tab-selected {

    ion-label, ion-icon {
        color: $icon_hl;
    }

}

ion-icon, ion-label {
    color: #CFD8DC;
}