<ion-header>
    <ion-toolbar>
      <ion-title>{{ product.name }}</ion-title>
    </ion-toolbar>
</ion-header>

<div class="prev_btn">
    <a href="/results" class="prev">Back</a>
</div>

<ion-content>
    <div class="content-container">
        <div class="header-content">
            <div class="pic-content">
                <img 
                [src]="product.prod_pic"
                alt="{{ product.name }}"
                class="img-responsive"
                >
            </div>
        </div>
        <div class="body-content">
            <div class="prod_details">
                <div class="daily_charge">
                    €{{ product.daily_charge }} a day
                </div>
                <div class="type">
                    Category: {{ product.type }}
                </div>
            </div>        
        </div>
    </div>
</ion-content>

