
$primary_colour:#7B1FA2;

ion-title{
    text-align:center;
}

.prev_btn {
    z-index: 100;
    position: absolute;
}

.prev {
    height:2.8em;
    position: absolute;
    background-color: $primary_colour;
    color: white;
    padding-right: .5em;
    padding-left: .5em;
    z-index: 100;
    padding-top: 0.8em;
}

.prod_details {
    color:white;
}

.header-content {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.pic-content {
    width: 55%;
    margin: 0 auto;
    height: auto;
}

.prod_details {
    width: 100%;
}

.daily_charge, .type {
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 2em;
}

.body-content {
    background-color: #212121;
}

.content-container {
    width: 100%;
}

#map {
    position:absolute;
    top:0;
    bottom:0; 
    width:100%;
}