$primary_colour:#7B1FA2;


.category-container{
    width:80%;
    margin: 0 auto;
    padding-top:1em;
    padding-bottom:1em;
}

.img-content{
    width:100%;
    height:auto;
    margin-bottom: 0px;
}

.btn-content {
    width:100%;
    margin-top: 0px;
    
}

.category-btn {
    width: 100%;
    padding:1em;
    background-color: $primary_colour;
    color:white;
    margin-top: 0px;
}