<a 
href="/results"
class="category-list"
*ngFor="let category of categories"
>
<div class="category-container">
    <div class="img-content">
        <img
        [src]="category.imagePath"
        alt="{{ category.name }}"
        class="img-responsive"
        >
    </div>
    <div class="btn-content">
        <button class="category-btn">
            {{ category.name }}
        </button>
    </div>
</div>

</a>