<div class="search-container">
  <div class="searchbox">
    <input class="search-form" type="text" placeholder="Search for Items...">
    <a href="/results" class="search-btn">Go</a>
  </div>
</div>
