
$primary_colour:#7B1FA2;

.search-container{
    width:100%;
}

.searchbox{
    margin: 0 auto;
    width: fit-content;
}

.search-btn {
    display: inline;
    background-color: $primary_colour;
    color:white;
    text-decoration: none;
    padding: 1.25em;
    border-radius: 0px 15px 15px 0px;

    
}

.search-form{
    padding: 1em;
    border-radius: 15px 0px 0px 15px;
    border-style: none;
}

.search-form:focus {
    outline:none;
}