<ion-content>
  <div class="home-container">
    <div class="heading">
      <div class="head-content">
        <h2 class="heading-title">Hello World</h2>
        <div class="searchbox-content">
          <app-searchbox></app-searchbox>
        </div>
      </div>
    </div>
    
    <div class="category-content">
      <app-categories></app-categories>
    </div>
  </div>
</ion-content>
