.searchbox-content, .category-content{
    width:100%;
}

.heading{
    width: 100%;
    height: 15em;
    background-image: url("./heading-home.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 4em;
}

.head-content{
    z-index:100;
}

.heading-title{
    margin:0;
    text-align: center;
    color: white;
    padding-top:1em;
    padding-bottom: .5em;
}

@media (min-width:420px){
    
    .heading{
        height: 18em;
        padding-top: 5em;
    }
}

@media (min-width:500px){
    
    .heading{
        height: 22em;
        padding-top: 7em;
    }
}

@media (min-width:700px){
    
    .heading{
        height: 25em;
        padding-top: 8em;
    }
}


@media (min-width:700px){
    
    .heading{
        height: 30em;
        padding-top: 11em;
    }
}

ion-title {
    color: black;
}

